.container {
  background-color: #fff;
  min-height: 100vh;
  padding: 20px 20px;
  font-size: 18px;
}

.personElementWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #c4c4c4;
  padding: 30px 0;
}

.photoWrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoWrapper {
  width: 70%;
  align-self: flex-start;
}

.effectiveListWrapper {
  list-style-type: decimal;
  margin-left: 20px;
}

.rssLogo {
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .container {
    font-size: 14px;
  }
}
