.container {
  padding-left: 10px;
}

.brandTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.brandFilterWrapper {
  padding: 10px 0px;
  border-bottom: 1px solid #383838;
}

.resetButton {
  width: 90%;
  background-color: rgb(248, 126, 126);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
  transition: background-color 0.3s ease-in-out;
}

.resetButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetButton:hover {
  cursor: pointer;
  background-color: rgba(247, 80, 80, 0.8);
}
