.menu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
}

.menuWrapper {
  top: -1px;
  min-width: 320px;
  width: 55%;
  height: 100vh;
  z-index: 110;
  position: fixed;
  box-sizing: border-box;
  background-color: #131218;
  border: 1px solid black;
  color: #ffffff;
  font-family: ABeeZee;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  right: -2000px;
  transition: right 0.3s ease-in-out;
}

.menuWrapper.active {
  right: 0;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logo {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}
