.cardWrapper {
  max-width: 220px;
  height: 600px;
  background: #3b3a40;
  border-radius: 8px;
  transition:
    box-shadow 0.3s ease-in-out,
    background 0.3s ease-in-out;
  box-shadow: 0 0 0 10px transparent;
  position: relative;
}

.cardWrapper:hover {
  box-shadow: 0px 0px 10px 12px rgba(248, 248, 248, 0.75);
  background: #605d6d;
  cursor: pointer;
  z-index: 15;
}

.cardWrapper:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #605d6d;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}

.cardWrapper:hover:after {
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  outline: 1px solid #0d0d0e;
  z-index: 11;
}

.container {
  position: relative;
  z-index: 12;
}

.image {
  width: 100%;
  height: auto;
  /* height: 300px; */
  border-radius: 8px 8px 0px 0px;
  object-fit: contain;
}

.colorVariantElem {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
}

.colorVariantElem:hover {
  cursor: pointer;
  border: 2px solid #fff;
}

.colorVariantElem[data-active='true'] {
  border: 2px solid #fff;
}

.infoWrapper {
  padding: 11px 13px;
  position: relative;
}

.title {
  font-family: ABeeZee;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.modelName {
  font-family: ABeeZee;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.description {
  font-family: ABeeZee;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  min-height: 70px;
}

.oldPciceWrapper {
  color: #b1b0b3;
}

.button {
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: #b1b0b3;
  cursor: pointer;
}
