.image {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
  object-fit: contain;
  background-blend-mode: darken;
}

.colorsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
  z-index: 12;
  min-height: 30px;
}

.colorVariantElem[data-active='true'] {
  transform: scale(1.25);
}

.button {
  transition: background 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: auto;
}

.imageWrapper {
  width: 100%;
  padding: 30px;
}
