.container {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 20px;
}

.filterPanelWrapper {
  width: 300px;
}

.transl {
  transform: translateX(300px);
  transition: transform 330ms ease;
  width: 300px;
}

@media (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: auto;
  }
}
