.gridItemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.paginateContainer {
  display: flex;
  margin: 55px auto;
  justify-content: center;
}

.paginateContainer li {
  cursor: pointer;
  margin: 0 5px;
}

.paginateContainer li a {
  font-family: 'Poppins';
  color: grey;
  padding: 8px 14px;
  border: 2px solid grey;
  border-radius: 50%;
  width: 15px;
  transition: background-color 0.3s ease-in-out;
}

.paginateContainer li a:hover {
  background-color: rgb(80, 80, 80);
}

.activeLinkClassName {
  color: black !important;
  border: none !important;
  background-color: white;
}

.noItems {
  color: #ffffff;
}

/* @media all and (max-width: 1023px) {
  .gridItemContainer {
    grid-template-columns : 1fr 1fr 1fr 1fr;
  }
} */

/* @media (max-width: 479px) {

} */

@media all and (max-width: 380px) {
  /* .gridItemContainer {
    grid-template-columns : 1fr 1fr 1fr;
    gap: 20px;
  } */
}

/* ====================== */
/* @media (max-width: 1199px) {


}

@media (max-width: 1023px) {


}

@media (max-width: 767px) {



}

@media (max-width: 479px) {

}

@media (max-width: 380px) {

}

@media (max-width: 320px) {

} */
