.breadcrumbs {
  font-size: 24px;
  color: #ffffff;
  padding: 10px 5px;
}

.link {
  color: #313030;
  transition:
    color 0.3s ease-in-out,
    text-decoration 0.3s ease-in-out;
}

.link:hover {
  color: #838383;
  text-decoration: underline;
}
